.footer {
  background-color: $color-dark;
  color: $color-light;
  padding: 5rem 0;

  @media (prefers-color-scheme: dark) {
    background-color: $color-darker;
    border-top: 1px dashed $color-light;
  }

  &__logo-container {
    display: block;
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__link {
    display: inline-block;
    transition: transform 0.2s ease;
    backface-visibility: hidden;

    &:hover {
      transform: scale(1.1) rotate(10deg);
    }

    &--p5 {
      &:hover {
        color: $color-p5;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 100%;
  }
}

.copyleft {
  height: 1.5rem;
  margin-left: 1rem;

  &__text {
    display: inline;
  }

  &__icon {
    height: 100%;
    fill: #fff;
    stroke: #fff;
  }
}
