.header {
  @include contain;
  position: absolute;
  top: 3rem;
  left: 10vw;
  padding: 0 2rem;
  // width: 80vw;
  height: 6rem;
  color: $color-dark;
  font-family: PanameraRegular;
  z-index: 100;

  @include responsive(phone) {
    left: 0;
    width: 100vw;
    // text-align: center;
  }

  &__title {
    flex: 1 0 auto;
  }

  &__icons {
    display: flex;
    gap: 2rem;

    &:hover {
      cursor: pointer;
    }

    @include responsive(phone) {
      display: none;
    }
  }
}
