.header {
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  width: 80vw;
  height: 7.5rem;
  z-index: 99;
  background-color: $color-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow-light;
  color: $color-dark;

  @include responsive(phone) {
    top: 0;
    left: 0;
    width: 100vw;
    transform: translateX(0);
    justify-content: center;
  }

  &__title {
    font-family: PanameraRegular;
    flex: 1 0 auto;
  }

  &__icons {
    display: flex;
    gap: 2rem;

    &:hover {
      cursor: pointer;
    }

    @include responsive(phone) {
      display: none;
    }
  }
}
