.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 10rem 0;
  // background: none !important;

  @media (prefers-color-scheme: dark) {
    background-color: $color-dark;
    padding: 5rem 0;
  }

  &-about {
    overflow-x: clip;
    background-color: $color-light;

    @media (prefers-color-scheme: dark) {
      background-color: $color-dark;
    }

    &__content {
      @include contain;
    }

    &__footer {
      margin-top: 3rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-grow: 1;
    }

    &__icons {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, 3.2rem);
      justify-content: center;

      &--contact {
        justify-content: center;
        gap: 3rem;

        @include responsive(tablet) {
          justify-content: space-around;
          gap: unset;
        }
      }
    }

    .tooltip {
      position: relative;

      &:hover::before {
        opacity: 1;
        transform: scale(1);
      }

      &::before {
        content: attr(data-tooltip);
        position: absolute;
        top: 110%;
        left: 0;
        padding: .5rem;
        border-radius: $border-radius;
        background-color: $color-dark;
        color: $color-light;
        transform: scale(0);
        opacity: 0;
        transition: transform 0.2s opacity 0.3s;
      }

      &--right {
        position: relative;

        &::before {
          content: attr(data-tooltip);
          position: absolute;
          top: 110%;
          left: -100%;
          padding: .5rem;
          border-radius: $border-radius;
          background-color: $color-dark;
          color: $color-light;
          transform: scale(0);
          opacity: 0;
          transition: transform 0.2s opacity 0.3s;
        }
      }
    }

    &__divider {
      // display: none;
      position: absolute;
      top: 100%;
      left: 0;
      height: 19rem;
      width: 300%;
      transform: rotate(180deg);
      fill: $color-light;
      z-index: 1;

      @media (prefers-color-scheme: dark) {
        display: none;
      }
    }
  }

  &-projects {
    padding-bottom: 25rem;

    @media (prefers-color-scheme: dark) {
      padding-bottom: 10rem;
    }

    @include responsive(tablet) {
      padding-bottom: 15rem;
    }

    &__divider {
      // display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 20rem;
      width: 100%;
      transform: rotateX(180deg);
      fill: $color-dark;
      z-index: 1;

      @media (prefers-color-scheme: dark) {
        display: none;
      }
    }
  }

  &-notes {
    background-color: $color-light;
    padding: 5rem 0 10rem 0;

    @media (prefers-color-scheme: dark) {
      background-color: $color-dark;
    }
  }
}
