.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 10rem 0;

  @media (prefers-color-scheme: dark) {
    background-color: $color-dark;
  }

  &-about {
    overflow-x: clip;
    background-color: $color-light;

    @media (prefers-color-scheme: dark) {
      background-color: $color-dark;
    }

    &__content {
      @include contain;
    }

    &__footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 3rem;
    }

    &__icons {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, 3.2rem);

      .icon {
        width: 3.2rem;
        height: 3.2rem;

        &:hover {
          cursor: pointer;
        }

        @include responsive(phone) {
          width: 4rem;
          height: 4rem;
        }
      }
    }

    &__contact {
      display: flex;
      justify-content: flex-start;

      .icon {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 2rem;

        &:hover {
          cursor: pointer;
        }

        @include responsive(phone) {
          width: 4rem;
          height: 4rem;
        }
      }
    }

    .tooltip {
      position: relative;

      &:hover::before {
        opacity: 1;
        transform: scale(1);
      }

      &::before {
        content: attr(data-tooltip);
        position: absolute;
        top: 110%;
        left: 0;
        padding: .5rem;
        border-radius: $border-radius;
        background-color: $color-dark;
        color: $color-light;
        transform: scale(0);
        opacity: 0;
        transition: transform 0.2s opacity 0.3s;
      }
    }

    &__divider {
      position: absolute;
      top: 100%;
      left: 0;
      height: 19rem;
      width: 300%;
      transform: rotate(180deg);
      fill: $color-light;
      z-index: 1;

      @media (prefers-color-scheme: dark) {
        display: none;
      }
    }
  }

  &-projects {
    padding-bottom: 25rem;

    @include responsive(tablet) {
      padding-bottom: 15rem;
    }

    &__divider {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 20rem;
      width: 100%;
      transform: rotateX(180deg);
      fill: $color-light;
      z-index: -1;

      @media (prefers-color-scheme: dark) {
        display: none;
      }
    }
  }

  &-notes {
    background-color: $color-light;

    @media (prefers-color-scheme: dark) {
      background-color: $color-dark;
    }
  }
}
