.articles {
  @include contain;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);

  &__card {
    background-color: $color-light;
    border-radius: $border-radius;
    border: 1px solid $color-gray-light;
    box-shadow: $box-shadow-light;
    padding: 2rem;
    min-height: 10rem;
    opacity: 0;
    transform: translateY(1rem);
    transition: all 0.3s;
    animation: card-come-in .5s forwards;

    @media (prefers-color-scheme: dark) {
      background-color: $color-gray-light;
      color: $color-dark;
    }

    &:hover {
      transform: translateY(-1rem);
      cursor: pointer;
    }
  }
}
