%button {
  background-color: $color-light;
  border: none;
  border-radius: $border-radius;
  transition: transform 0.2s;

  &:hover {
    cursor: pointer;
    background-color: $color-gray;
  }

  &:active {
    transform: translateY(.25rem);
  }
}

%float {
  @extend %button;
  position: fixed;
  top: 50%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: $box-shadow-light;
}

.btn {
  @extend %button;
}

.btn--prev {
  @extend %float;
  content: 'GT';
  left: 4rem;
}

.btn--next {
  @extend %float;
  content: 'GT';
  right: 4rem;
}
