.gallery {
  @include contain;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 30rem;
  grid-template-rows: repeat(3, 20rem);
  grid-gap: 2rem;

  @include responsive(portrait) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 20rem);
  }
  @include responsive(tablet) {
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
  }
}
