.tags {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    margin: 0 0.5rem;
  }
}

.tag {
  font-size: 1.25rem;
  padding: .5rem .75rem;
  margin: .25rem 0 .25rem 0;
  border-radius: $border-radius;

  &--js {
    background-color: #f3db1d;
  }

  &--p5 {
    background-color: #ed225d;
    color: $color-light;
  }

  &--graphics {
    background-color: #fca251;
  }

  &--react {
    background-color: #00dcfc;
  }

  &--node {
    background-color: #8ec23f;
  }

  &--py {
    background-color: #3673a8;
    color: $color-light;
  }

  &--cli {
    background-color: $color-dark;
    color: $color-light;
  }

  &--api {
    background-color: #7ec7da;
  }
}
