@import 'styles/abstract/mixins';
@import 'styles/abstract/variables';

@import 'styles/base/animations';
@import 'styles/base/base';
@import 'styles/base/typography';
@import 'styles/base/utilities';

@import 'styles/components/article-list';
@import 'styles/components/project-modal';
@import 'styles/components/canvas';
@import 'styles/components/projects';
@import 'styles/components/dropdown';
@import 'styles/components/search';
@import 'styles/components/card';
@import 'styles/components/logo';
@import 'styles/components/icon';
@import 'styles/components/button';

@import 'styles/layout/header';
@import 'styles/layout/section';
@import 'styles/layout/column';
@import 'styles/layout/footer';
