.marginless {
  margin: 0 !important;
}
.small-margin-y {
  margin: 2rem 0;
}
.medium-margin-y {
  margin: 2rem 0;
}
.padding-2 {
  padding: 2rem;
}
.padding-3 {
  padding: 3rem;
}
.padding-4 {
  padding: 4rem;
}
.no-overflow {
  overflow: hidden;
}
.hide-on-phone {
  @include responsive(phone) {
    display: none;
  }
}
.is-centered {
  margin: 0 auto;
}
.contain {
  @include contain;
}
.has-background-glass {
  @include glass-effect;
}
.has-background-light {
  background: none;
  background-color: $color-light;
}
